
data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0" # the default

addresses {
  http  = "127.0.0.1 {{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
}

advertise {
  http  = "{{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
}


server {
  enabled          = true
  # Para servers follower esto debería eliminarse.
  bootstrap_expect = 1

{% if server_join is defined %}
  server_join {
    retry_join = [{% for ip in server_join.value %}"{{ ip }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
{% endif %}
}