
data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0" # the default

acl {
  enabled = true
}

addresses {
  http  = "127.0.0.1 {{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
}

advertise {
  http  = "{{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
}


server {
  enabled          = true
  # Para servers follower esto debería eliminarse.
  {% if server_join is not defined %}
  bootstrap_expect = 1
  {% endif %}

  # Encrypt gossip communication
 # encrypt          = "m6+hrtQJTVPU/gVnv4a4dg43AoxCqo4eYyEd1Po65Ro="

{% if server_join is defined %}
  server_join {
    retry_join = [{% for ip in server_join %}"{{ ip }}"{% if not loop.last %}, {% endif %} {% endfor %}]
  }
{% endif %}
}

client {
  enabled   = true
  memory_total_mb  = 1000
  cpu_total_compute = 1294
  network_interface = "eth1"
{% if server_join is defined %}
  server_join {
    retry_join = [{% for ip in server_join %}"{{ ip }}:4647"{% if not loop.last %}, {% endif %} {% endfor %}]
  }
{% endif %}
}