ui {
  enabled =  false
}

data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0" # the default

acl {
  enabled = true
}

addresses {
  http  = "127.0.0.1 {{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
}

advertise {
  http  = "{{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
  # Serf propagation information between servers.
  serf  = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
}


server {
  enabled          = true
  bootstrap_expect = {{ server_num }}

  # Encrypt gossip communication
 # encrypt          = "m6+hrtQJTVPU/gVnv4a4dg43AoxCqo4eYyEd1Po65Ro="

{% if server_num > 1 %}
  server_join {
    retry_join = [ "provider=digitalocean region={{ region }} tag_name={{ tags }} api_token={{ do_token }}" ]
  }
{% endif %}
}

client {
  enabled   = true
  memory_total_mb  = 1000
  cpu_total_compute = 1294
  network_interface = "eth1"
{% if server_num > 1 %}
  server_join {
    retry_join = [ "provider=digitalocean region={{ region }} tag_name={{ tags }} api_token={{ do_token }}" ]
  }
{% endif %}
}
