#ui {
#  enabled =  false
#}

data_dir  = "/var/lib/nomad"

bind_addr = "{{ ansible_eth0.ipv4.address }}"
#bind_addr = "{{ ansible_eth1.ipv4.address }}"

#acl {
#  enabled = true
#}

server {
  enabled          = true
  bootstrap_expect = {{ server_num }}

#  server_join {
#    retry_join = [ "provider=digitalocean region={{ region }} tag_name={{ tags }} api_token={{ do_token }}" ]
#  }
}

client {
  enabled   = true
#  memory_total_mb  = 1000
#  cpu_total_compute = 1294
#  network_interface = "eth1"
  memory_total_mb  = {{ client_memory }}
  cpu_total_compute = {{ client_cpu }}
  network_interface = "{{ client_interface }}"
#  server_join {
#    retry_join = [ "provider=digitalocean region={{ region }} tag_name={{ tags }} api_token={{ do_token }}" ]
#  }
  server_join {
    retry_join = [ "{{ ansible_eth0.ipv4.address }}"]
  }
}
