data_dir  = "/var/lib/nomad"

bind_addr = "0.0.0.0"

addresses {
  http  = "127.0.0.1 {{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members 
}

advertise {
  http  = "{{ ansible_eth1.ipv4.address }}"
  # Internal RPC communication between client agents and servers, and for inter-server traffic.
  rpc   = "{{ ansible_eth1.ipv4.address }}"   # Exposed only to other cluster members
}

client {
  enabled   = true

  server_join {
    retry_join = [{% for ip in server_join.value %}"{{ ip }}:4647"{% if not loop.last %}, {% endif %} {% endfor %}]
  }
 
}